html {
  scroll-behavior: smooth;
  background-color: #fff8db;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 150px; /* 根据导航栏的实际高度调整 */
}

@media screen and (max-width: 1600px) {
  body {
    padding-top: 100px;
  }
}

@media screen and (max-width: 900px) {
  body {
    padding-top: 80px;
  }
}

.menu-toggle {
  display: none;
  cursor: pointer;
  position: fixed; /* 固定位置，使其不随页面滚动 */
  top: 20px; /* 与视口顶部的距离 */
  right: 20px; /* 与视口右侧的距离 */
  z-index: 1200; /* 确保它在其他内容之上 */
}

.bar {
  display: block;
  width: 25px;
  height: 2px;
  margin: 5px auto;
  background-color: #333;
}

@media screen and (max-width: 700px) {
  .menu-toggle {
    display: block; /* 在小屏幕显示汉堡菜单 */
  }
  .nav-list {
    display: none; /* 默认隐藏导航列表 */
    flex-direction: column; /* 列方向展示 */
    width: 100%; /* 充满容器宽度 */
    position: absolute;
    top: 0px; /* 根据汉堡菜单的高度调整 */
    left: 0px;
    background-color: antiquewhite; /* 背景色，根据需要调整 */
  }
  .nav-li {
    text-align: center; /* 文字居中显示 */
    width: 100%; /* 单独占满一行 */
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: antiquewhite;
  width: 100%;
  z-index: 1000;
}
.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.nav-li {
  font-size: 1.5rem;
  float: left;
  margin: auto;
  padding: 2%;
}

.nav-li a {
  color: black;
  text-decoration: none;
}
.nav-li a:hover {
  font-size: 120%;
  font-weight: 900;
  transition: font-size 0.2s ease;
}
.title {
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 2%;
}

.subTitle {
  /* display: flex; */
  padding: 2%;
}

.titleContent {
  font-size: 4.5rem;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

/* 不同视口字体优化 */
@media screen and (max-width: 1600px) {
  .titleContent {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 1000px) {
  .titleContent {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 345px) {
  .titleContent {
    font-size: 1.5rem;
  }
}
/* ===== */

.footer {
  display: flex;
  justify-content: center;
}

.typingContainer {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.typingText {
  display: flex;
  justify-content: center;
}

#typingText1 {
  font-weight: 800;
}

/* 文字动画 */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.edu-grid-container {
  padding: 3%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.project-grid-container {
  padding: 3%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.project-item {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
  width: 90%;
}

.edu-item {
  font-size: 1.5rem;
  text-align: center;
}
@media screen and (max-width: 700px) {
  .edu-item {
    font-size: 1rem;
    padding: 1%;
  }
}

@media screen and (max-width: 1700px) {
  .project-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1200px) {
  .project-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .edu-grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .project-grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

#typingText {
  animation-duration: 1s; /* 动画持续时间 */
  animation-timing-function: ease-in-out; /* 动画速度函数 */
}
